* {
  font-family: "Arial";

  margin: 0;
  padding: 0;
}
body {
  background-color: #444;
  color: #fff;
}

body::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-image: url("/img/16to9.png");
  background-size: 100%;
  background-position: fill;
}

.inputtext {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.75);
  width: 450px;
  padding: 70px;
}

.inputtext h1 {
  color: #fff;
  font-size: 2rem;
}

.inputtext form {
  margin: 25px 0 65px;
}

.field input {
  height: 100%;
  width: 100%;
  background: #444;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1rem;
  padding: 20px 20px;
  margin: 10px 0;
}

.field input:is(:focus) {
  background: #424d4f;
  color: #fff;
  animation: glow 3s infinite ease;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #fff;
  }
  50% {
    box-shadow: 0 0 10px #fff;
  }
  100% {
    box-shadow: 0 0 5px #fff;
  }
}


.field input:is(:focus) ~ label {
  font-size: 0.75rem;
  transform: translateY(-130%) 0.3s ease;
}

form button {
  width: 100%;
  padding: 12px 0;
  font-size: 1rem;
  background: #202d33;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  outline: none;
  margin: 10px 0 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

form button:hover {
  background: #405d6a;
  transition: 0.5s ease;
}

button#googlelog {
  background: #7b7b7b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

button#googlelog:hover {
  background: #0099ff;
  transition: 0.5s ease;
}

#googlelog i {
  margin-right: 10px;
}
.inputtext a {
  text-decoration: none;
  color: #fff;
}

form .help {
  display: flex;
  justify-content: space-between;
}

form .remember-pw {
  display: flex;
}

form .remember-pw input {
  margin-right: 5px;
}

.extra {
  display: flex;
  justify-content: space-between;
  font-size: larger;
}

.hide
{
  display: none;
}

h1{
  text-align: center;
}