body {
  font-family: "Mochiy Pop One", sans-serif;
  margin: 10px;
  background-color: #111;
  background-size: 10%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-right: 10px;
  box-sizing: border-box;
  color: white;
}

/* Navbar link hover effects */
.navbar a:hover {
  background-color: rgb(150, 223, 255);
  color: white;
  transition: background-color 0.5s, color 0.5s;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

.items {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(104, 171, 169, 1) 100%,
    rgba(14, 33, 33, 1) 92%
  );
  display: flex;
  align-items: center;
  position: relative;
  color: white;
}

.navbar .item a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 17px;
}

.dropdown {
  display: flex;
}

.navbar .item a:hover {
  background-color: rgb(150, 223, 255);
  color: whitesmoke;
  transition: background-color 0.5s, color 0.5s;
}

.navbar a img {
  width: 25px;
  height: 20px;
  margin-left: 10px;
  margin-right: 15px;
}

.account {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
}

.account a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 17px;
}

#avatar {
  display: none;
  position: relative;
  z-index: 1000;
}

#avatar:hover {
  background-color: rgba(255, 150, 150, 0);
}

#avatar img {
  width: 40px;
  height: 40px;
  border: 2px solid #888888;
  border-radius: 10%;
  margin-right: 30px;
  margin-left: 0;
  display: block;
  object-fit: cover;
}

.account .dropdown {
  position: relative;
  display: flex;
  align-items: center;
}


.navbar #avatar img {
  margin-right: 30px;
  margin-left: 0;
}

.outline {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.outline:hover {
  background-color: rgb(150, 223, 255);
}

@keyframes moveDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  top: 100%;
  background-color: #1f99a7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  animation: moveDown 0.5s ease-out;
}

.dropdown:hover .dropdown-content {
  display: block;
  animation: moveDown 0.5s ease-out;
}

.dropdown-content a {
  padding: 12px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.hiddenmenu {
  display: none;
}

.hide {
  display: none;
}

.dropdown-items {
display: flex;
}



@media screen and (max-width: 550px) {
  #avatar {
    display: none;
  }
  .navbar .item a {
    font-size: 16px;
  }
  .account a {
    font-size: 16px;
  }
  .dropdown-items {
    display: none;
  }
  .hiddenmenu {
    display: block;
  }
  #search {
    display: none;
  }
  #logger {
    display: none;
  }
  #openmenu {
    display: block;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  .hiddenmenu:hover {
    background-color: rgb(150, 223, 255);
    transition: background-color 0.5s, color 0.5s;
  }
} 