h1{
  padding-top: 80px;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}
.field input {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #1d858a80;
  border-radius: 4px;
  background-color: #303638;
  color: #fff;
}

.songcards { border: 1px solid black;
padding: .5rem;
}

.songcard{
  background-color: #303638;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  color: #fff;
}

.info
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  padding-top: 5px;
}

.name
{
  font-size: 1.5rem;
  font-weight: bold;
}

.hide{
  display: none;
}

a{
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}